
/* Your CSS Code here. */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#div-1{
	display:flex;
	justify-content:space-between;
	align-items: center;
}
#div-2{
	display:flex;
	justify-content:space-between;
	align-items: center;
}

form, button{
	display: flex;
	flex-direction: column;
	padding:10px;
	gap: 10px;
	margin: 10px;
}

input{
	height: 30px;
}